* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: black;
}
nav {
    width: 100vw;
    height: 25vh;
    /* background-color: sandybrown; */
    display: flex;
}
#logo{
    padding: 50px;
width: 25vw;

font-size: 1.8em;
text-align: center;
color: white;
}
#logo p{
    font-size: 0.5em;
}
#index{
    display: flex;
justify-content: center;
align-items: center;
    width: 75vw;
    /* background-color: lightslategray; */
    justify-content: space-evenly;
}
#index a{
    font-size: larger;
    text-decoration: none;
    color: white;
}
#search {
    scale: 1.5;
    color: white;
}


#content1 {
    display: flex;
    height: 75vh;
    width: 100vw;
    background-color: rgb(16, 16, 14);
}
#text {
height: 100%;
width: 60%;
/* background-color: plum; */
}
h1{
    font-size: 5em;
}
hr {
    position: relative;
    left: 130px;
    top: 110px;
}
#text h4,h1{
    top: 80px;
    position: relative;
    left: 130px;
    color: white;
}
#text p{
    line-height: 20px;
    top: 150px;
    position: relative;
    left: 130px;
    color: white;
}
#image {
    background-color: black;
    position: relative;
    left: 130px;
    top: 40px;
    height: 80%;
    width: 20%;
  background-image: url(photo-1584086938198-3e3d7a8253a0.jpeg);
  border-radius: 25px;
  background-size: cover;
  box-shadow: 0 0 30px 10px rgb(0, 255, 200, 0.6);
}

#content2 {
    display: flex;
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(40, 40, 1); */
}
#writing {
    height: 100%;
    width: 58%;
    /* background-color: violet; */
}
#writing h5 {
    position: relative;
    top: 200px;
    left: 130px;
    background-color: rgba(240, 248, 255, 0);
}
h5 {
    color: white;
    font-size: 1.2em;
}
#writing h2{
    position: relative;
    top: 200px;
    left: 130px;
    color: white;
    font-size: 5em;
    background-color: rgba(240, 248, 255, 0);
}
hr {
    position: relative;
    left: 130px;
    top: 210px;
    color: white;
}
#writing p{
    line-height: 20px;
    color: white;
    position: relative;
    top: 300px;
    left: 130px;
    background-color: rgba(240, 248, 255, 0)
}
#viewall {
    position: relative;
    left: 130px;
    bottom: -330px;
    width: 90px;
    height: 30px;
    border-radius: 10px;
}

#logos {
    position: relative;
    right: 50px;
width: 42%;
height: 100%;
/* background-color: magenta; */
}
#laptop {
    position: relative;
    left: 90px;
    top: 100px;
    width: 230px;
    height: 250px;
    background-color: rgba(255, 218, 185, 0);
    color: black;
    border-radius: 25px ;
    border: 4px solid white;
}
#laptop h3{
   text-align: center;
   font-size: 1.5em;
}
#laptop h6{
    margin-top: 20px;
   text-align: center;
   font-size: 1.1em;
}
#laptop h3,h6{
    position: relative;
    color: white;
    top: 100px;
    background-color: rgba(240, 248, 255, 0);
}
#ui {
     position: relative;
    left: 370px;
    top: -90px;
     width: 230px;
    height: 250px;
 background-color: rgba(255, 218, 185, 0);
     color: black;
    border-radius: 25px ;
    border: 4px solid white;
}
#ui h3{
     margin-top: 20px;
   text-align: center;
   font-size: 1.1em;
}
#ui h6{
     margin-top: 20px;
   text-align: center;
   font-size: 1.1em;
}
#ui h3,h6{
    position: relative;
    color: white;
    top: 100px;
    background-color: rgba(240, 248, 255, 0);
}
#mobile {
    position: relative;
    left: 90px;
    bottom: 140px;
     width: 230px;
    height: 250px;
 background-color: rgba(255, 218, 185, 0);
    color: black;
    border-radius: 25px ;
    border: 4px solid white;
}
#mobile h3{
    margin-top: 20px;
   text-align: center;
   font-size: 1.1em;
}
#mobile h6{
     margin-top: 20px;
   text-align: center;
   font-size: 1.1em;
}
#mobile h3,h6{
    position: relative;
    color: white;
    top: 100px;
    background-color: rgba(240, 248, 255, 0);
}
#gallery {
    position: relative;
    left: 370px;
    bottom: 330px;
   width: 230px;
    height: 250px;
 background-color: rgba(255, 218, 185, 0);
    color: black;
    border-radius: 25px ;
    border: 4px solid white;
}
#gallery h3{
    margin-top: 20px;
   text-align: center;
   font-size: 1.1em;
}
#gallery h6{
     margin-top: 20px;
   text-align: center;
   font-size: 1.1em;
}
#gallery h3,h6{
    position: relative;
    color: white;
    top: 100px;
    background-color: rgba(240, 248, 255, 0);
}


#content3 {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: orange; */
}
#lady {
    position: relative;
    left: 150px;
    top: 150px;
    width: 30%;
    height: 60%;
    /* background-color: white; */
    background-image: url(lady-removebg-preview.png);
    background-size: cover;
}
#texts {
    /* display: flex;
    flex-direction: column; */
    width: 70%;
    height: 100%;
    /* background-color: violet; */
}
#texts h2 {
    position: relative;
    left: 300px;
    margin-left: 100px;
}

#texts h5 {
    position: relative;
    top: 200px;
    left: 230px;
    background-color: rgba(240, 248, 255, 0);
    color: white;
}
h5 {
    color: white;
    font-size: 1.2em;
}
#texts h2{
    position: relative;
    top: 200px;
    left: 130px;
    color: white;
    font-size: 5em;
    background-color: rgba(240, 248, 255, 0);
}
#texts p{
    line-height: 20px;
    color: white;
    position: relative;
    top: 270px;
    left: 230px;
    background-color: rgba(240, 248, 255, 0)
    
}
#hr3 {
    position: relative;
    left: 240px;
}
#bottomtext {
    display: flex;
    position: relative;
    top: 280px;
    left: 200px;
    width: 60%;
    height: 30%;
    background-color: sandybrown;
}
#left {
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    text-align: center;
}
#left h7 {
    position: relative;
   top: 20px;
    color: white;
    background-color: rgba(240, 248, 255, 0);
    font-size: 1.7em;
}
#left p{
    position: relative;
    top: 50px;
    left: 5px;
    
}
#right {
    width: 50%;
    height: 100%;
    /* background-color: rgb(122, 122, 112); */
    text-align: center;
}
#right h7 {
    position: relative;
   top: 20px;
    color: white;
    background-color: rgba(240, 248, 255, 0);
    font-size: 1.7em;
}
#right p{
    position: relative;
    top: 50px;
    left: 5px;
}

#bottom {
    display: flex;
    position: relative;
    bottom: 20px;
width: 100vw;
height: 50vh;
/* background-color: yellow; */
}
#project {
    position: relative;
    top: 80px;
    left: 160px;
    width: 12%;
    height: 50%;
    /* background-color: dodgerblue; */
    background-image: url(project-project-management-png-image_5687733.png);
    background-size: cover;
}
#project p{
    position: relative;
    left: 20px;
    top: 220px;
    background-color: rgba(255, 235, 205, 0);
    font-size: 2em;
    color: white;

}
#pleasure {
    position: relative;
    top: 80px;
    left: 260px;
    width: 14%;
    height: 50%;
    /* background-color: dodgerblue; */
    background-image: url(chart.png);
    background-size: cover;
}
#pleasure p{
    position: relative;
    left: 20px;
    top: 220px;
    background-color: rgba(255, 235, 205, 0);
    font-size: 2em;
    color: white;
}
#customer {
    position: relative;
    top: 80px;
    left: 280px;
    width: 18%;
    height: 50%;
    background-image: url(customer2-removebg-preview\ \(1\).png);
    background-size: cover;
}
#customer p{
    position: relative;
    left: 80px;
    top: 220px;
    background-color: rgba(255, 235, 205, 0);
    font-size: 2em;
    color: white;
}
#team {
     position: relative;
    top: 80px;
    left: 400px;
    width: 18%;
    height: 50%;
    background-image: url(team2.png);
    background-size: cover;
}
#team p{
    position: relative;
    left: 75px;
    top: 220px;
    background-color: rgba(255, 235, 205, 0);
    font-size: 2em;
    color: white;
}
#footer p{
    font-size: 1.2em;
    text-align: center;
    color: white;
}